# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build result
*.test
*.out

# Go vendor & dependencies
/vendor/
/bin/
/dist/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Logs & temp
*.log
*.tmp
*.cache

# OS files
.DS_Store
Thumbs.db

# IntelliJ / GoLand project files
.idea/
*.iml

# env
*.env
